@media only screen and (max-width:1000px) {
    html, body{
      
        min-height:100vh;
        margin:0;
        padding: 0;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    
}

    .email-contanct .linkedln-contact .github li{
        text-decoration: none;
        list-style: none;
        display: block;
       
    }


*{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;

}


body{
    background-color:white;
    color:black;
    min-height:100vh;

}



section{
    display:grid;
    grid-template-columns: 30% 70%;
    background-color: darkgreen;
  
}

.nav-bar-logo{
    margin-left:2%;
    width:70%
}


.left-nav-bar ul{ 

    color: black;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    list-style: none;
    display: flex;
  
   
}


nav{
    margin-top: 5%;
   
}


.left-nav-bar{
   padding-left: 40%;
   text-align: center;
   align-content: center;
   
   
}

.left-nav-link li a{
    transition-property: font-size;
    transition-duration: 1s;
    transition-delay: 0.5s;
    transition-timing-function: ease-in;

}

.left-nav-bar li a:hover{
    color:white;
    font-size:15px;
}

a{
    color: black;
    text-decoration: none;
}

.toggle-button{
    position:absolute;
    top:.75rem;
    right:1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width:4%;
    height: 2%;
    margin-top:1%;
    margin-right: 1%;

}

.toggle-button .bar{
    height: 3px;
    background-color: white;
    border-radius: 10px;
}
@media (max-width: 1000px) {

    .toggle-button {
        display: flex;

    }

    .left-nav-link .nav-link {
        display: none;
    }


    .left-nav-link .nav-link li a{
        display: block;
    }

    .left-nav-bar ul{ 

        color: black;
        font-weight: bold;
        cursor: pointer;
        text-decoration: none;
        list-style: none;
        display: inline-block;
        font-size: small;
    
      
       
    }
}
.content-column{
    margin-right: 30%;
    display: grid;
    grid-template-columns: 90% 30%;
}


 .article-title{
    margin-top: 20%;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

@media only screen and (max-width: 600px) {
    .image-content {
      margin-top:210%
    }
    .article-title{
        font-size:100%
    }
  }


.image-content{
    object-fit: contain;
    max-width: 50%;
    border: 0px solid;
    border-radius: 30px;
    margin-top: 30%;
    margin-left: 70%;
    margin-bottom: 2%;
}


@media only screen and (max-width: 600px) {

    .image-content{
        object-fit: contain;
        max-width: 50%;
        border: 0px solid;
        border-radius: 30px;
        margin-top: 30%;
        margin-left: 70%;
        margin-bottom: 5%;
    }
    
     
  }


.footer{
    margin-top: 15%;
    text-decoration: none;
    background-color: darkgreen;
    padding-bottom: 0%;
    position:sticky;
    top: 100%;
    min-height: 20vh;
    
}



.email-contanct .linkedln-contact .github li{
    text-decoration: none;
    list-style: none;
    display: inline-block;
   
}

   

.linkedln-contact a{
    margin-right: 7%;
}

button{
    width:auto;
    height:70%;
    margin-top: 5%;
    color: black;
    font-weight: bold;
    cursor: pointer;
    background-color:green;
    padding:1%;
    border:1% solid;
    border-radius:30px;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    button {
      display: block;
    }
  }

.email-contanct .linkedln-contact .github button a{
    border:1% solid;
    border-radius:20%;
    
   
}

button a:hover{
    color:white
}

footer ul li{
    text-decoration: none;
    list-style: none;
}
footer{
    clear:both;
    margin-bottom: 0%;
    padding: 0%;
}