@media only screen and (max-width:1000px) {
    html, body{
      
        min-height:100vh;
        margin:0;
        padding: 0;
        overflow-x: hidden;
    }
    
}

    .email-contanct .linkedln-contact .github li{
        text-decoration: none;
        list-style: none;
        display: block;
       
    }


*{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;

}

body{
    background-color:white;
    color:black;
    min-height:100vh;

}



section{
    background-color: darkgreen;
    padding: 0;
    margin:0;
    
  
}

.row{
    margin:0;
    padding:0;
}

#nav-container{
    display: flex;
}

@media screen and (min-width: 1200px){
    #container {
        max-width: 1440px;
    }

}




#nav-bar-logo{
    margin-left:2%;
    width:70%
}


#left-nav-bar ul{ 

    color: black;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    list-style: none;
    display: flex;
    margin-bottom:4%;
  
   
}


nav{
margin:0;
   
}


.left-nav-bar{
   padding-left: 40%;
   text-align: center;
   align-content: center;
   
   
}

#left-nav-link li a{
    transition-property: font-size;
    transition-duration: 1s;
    transition-delay: 0.5s;
    transition-timing-function: ease-in;

}

.left-nav-bar li a:hover{
    color:white;
    font-size:15px;
}

a{
    color: black;
    text-decoration: none;
}

.toggle-button{
    position:absolute;
    top:.75rem;
    right:1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width:4%;
    height: 2%;
    margin-top:1%;
    margin-right: 1%;

}

.toggle-button .bar{
    height: 3px;
    background-color: white;
    border-radius: 10px;
}
@media (max-width: 1000px) {

    .toggle-button {
        display: flex;

    }

    .left-nav-link .nav-link {
        display: none;
    }


    .left-nav-link .nav-link li a{
        display: block;
    }

    .left-nav-bar ul{ 

        color: black;
        font-weight: bold;
        cursor: pointer;
        text-decoration: none;
        list-style: none;
        display: inline-block;
        font-size: small;
    
      
       
    }
}
.content-column{
    margin-right: 30%;
    display: grid;
    grid-template-columns: 90% 40%;
}


 .article-title{
    margin-top: 20%;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

@media only screen and (max-width: 600px) {
    .image-content {
      margin-top:210%
    }
    .article-title{
        font-size:100%
    }
  }



.footer{
    margin-top: 15%;
    text-decoration: none;
    background-color: darkgreen;
    padding-bottom: 0%;
    position:sticky;
    top: 100%;
    min-height: 20vh;
    
}



.email-contact .linkedln-contact .github li{
    text-decoration: none;
    list-style: none;
    display: flex;
   
}

.details{
    text-align: center;

}

@media only screen and (max-width: 600px) {
    button {
      display: block;
      text-align: center;
    }
    .email-contact{
        margin-top:4%;
    }
  }

button li a{
    width:auto;
    height:70%;
    margin-top: 5%;
    color: black;
    font-weight: bold;
    cursor: pointer;
    background-color:green;
    padding:1%;
    border:1% solid;
    border-radius:30px;
    align-content: center;
    text-align: center;
  
}

button a:hover{
    color:white
}

footer ul li{
    text-decoration: none;
    list-style: none;
}
footer{
    clear:both;
    margin-bottom: 0%;
    padding: 0%;
}