@media only screen and (max-width: 600px) {
    body {
      background-color: rgb(86, 181, 212);
    }
  }

*{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
}


body{
    background-color:white;
    color:black;

}


section{
    display:grid;
    grid-template-columns: 30% 70%;
    background-color: darkgreen;

    
  
}

.nav-bar-logo{
    margin-left:2%;
}


li{ 

    color: black;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    list-style: none;
    display: inline-block;
  
   
}


nav{
    margin-top: 5%;
   
}


.left-nav-bar{
   padding-left: 40%;
   text-align: center;
   align-content: center;
   
   
}

.left-nav-bar li a{
    transition-property: font-size;
    transition-duration: 1s;
    transition-delay: 0.5s;
    transition-timing-function: ease-in;

}

.left-nav-bar li a:hover{
    color:white;
    font-size:15px;
}


a{
    color: black;
    text-decoration: none;
}



.content-column{
    margin-left: 20%;
    margin-right: 30%;
    display: grid;
    grid-template-columns: 100% 30%;
}


 .article-title{
    margin-top: 30%;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

@media only screen and (max-width: 600px) {
    .image-content {
      margin-top:210%
    }
    .article-title{
        font-size:100%
    }
  }


.image-content{
    object-fit: contain;
    max-width: 50%;
    border: 0px solid;
    border-radius: 30px;
    margin-top: 70%;
    margin-left: 70%;
    margin-bottom: 5%;
}

.farm-image{
    max-width: 50%;
    border-radius: 50%;
    margin-left: 40%
}
@media only screen and (max-width: 600px) {

    .image-content{
        object-fit: contain;
        max-width: 50%;
        border: 0px solid;
        border-radius: 30px;
        margin-top: 70%;
        margin-left: 70%;
        margin-bottom: 5%;
    }
    
    .farm-image{
        max-width: 50%;
        border-radius: 50%;
        margin-left: 40%
    }
     
  }


.footer{
    margin-top: 15%;
    text-decoration: none;
    background-color: darkgreen;
}

.email-contanct .linkedln-contact .github li{
    text-decoration: none;
    list-style: none;
    display: inline-block;
   
}

   

.linkedln-contact a{
    margin-right: 7%;
}

button{
    width:auto;
    height:70%;
    margin-top: 5%;
    color: black;
    font-weight: bold;
    cursor: pointer;
    background-color:green;
    padding:1%;
    border:1% solid;
    border-radius:30px;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    button {
      display: block;
      align-content: center;
    }
  }

.email-contanct .linkedln-contact .github button a{
    border:1% solid;
    border-radius:20%;
    
   
}

button a:hover{
    color:white
}



